@model EComCart.Models.Product

<h2>Edit Product</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div>

        Name:
        <input asp-for="Name" class="form-control" />

    </div>

    <div>

        Price:
        <input asp-for="Price" class="form-control" />

    </div>

    <div>

        Quantity:
        <input asp-for="Quantity" class="form-control" />

    </div>

    <div>

        Category:
        <select asp-for="CategoryId"
                asp-items="ViewBag.CategoryList"
                class="form-control">
        </select>

    </div>

    <br />

    <button type="submit" class="btn btn-warning">Update</button>

</form>