@model List<EComCart.Models.Product>

<h2>Product List</h2>

<a href="/Product/Add" class="btn btn-primary">
	Add Product
</a>

<table class="table table-bordered mt-3">

	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Actions</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>

			<td>@item.Id</td>

			<td>@item.Name</td>

			<td>@item.Price</td>

			<td>@item.Quantity</td>

			<td>

				<a href="/Product/Edit/@item.Id"
				   class="btn btn-warning">
					Edit
				</a>

				<a href="/Product/Delete/@item.Id"
				   class="btn btn-danger">
					Delete
				</a>

			</td>

		</tr>
	}

</table>