
@model EComCart.Models.Customer

<h2>Add Customer</h2>

<form asp-action="Add">

    Name:
    <input asp-for="FullName" class="form-control" />

    Email:
    <input asp-for="Email" class="form-control" />

    Phone:
    <input asp-for="Phone" class="form-control" />

    Address:
    <input asp-for="Address" class="form-control" />

    <br />

    <button class="btn btn-success">Save</button>

</form>