@model List<EComCart.Models.Customer>

<h2>Customer List</h2>

<a href="/Customer/Add"
   class="btn btn-primary">
	Add Customer
</a>

<table class="table table-bordered mt-3">

	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Actions</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>

			<td>@item.Id</td>

			<td>@item.Name</td>

			<td>@item.Email</td>

			<td>@item.Phone</td>

			<td>

				<a href="/Customer/Details/@item.Id"
				   class="btn btn-info">
					Details
				</a>

				<a href="/Customer/Edit/@item.Id"
				   class="btn btn-warning">
					Edit
				</a>

				<a href="/Customer/Delete/@item.Id"
				   class="btn btn-danger">
					Delete
				</a>

			</td>

		</tr>
	}

</table>